<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta name="description" content="The Volumes Project">

      <style type="text/css">
        .js .flash {visibility: hidden;}
      </style>
      <script type="text/javascript">
        document.documentElement.className = 'js';
      </script>

      <link rel="stylesheet" href="/stylesheets/style.css">
      <link rel="stylesheet" href="/css/royalslider/royalslider.css">
      <link rel="stylesheet" href="/css/cover_page/dynamic_cover.css">

      <script type="text/javascript" src="//use.typekit.net/mqx1zka.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

      <script src="/js/libs/jquery-1.8.3.min.js"></script>
      <script src="/js/royalslider/jquery.royalslider.min.js"></script>
  </head>

    <body>

    <div id='maincontent' class='content_container flash'>
      <div class='top'></div>
      <div class='bottom'></div>
      <div class='right'></div>
      <div class='left'></div>

      <div class='intro'>
        <div class='tagline'>coming fall 2014</div>
        <div class='header'>
          Volumes</br>
          Project
        </div>
      </div>

      <div class='contact'>
        <div class='tagline'><a href='mailto:contact@volumesproject.com'>contact@volumesproject.com</a></div>
      </div>
    {{ content }}
    </div>

      <script>
          jQuery(document).ready(function($) {
              $(".royalSlider").royalSlider({
            transitionType: 'fade',
            randomizeSlides: true,
            controlNavigation: 'none',
            arrowsNavHideOnTouch: true,
            arrowsNav: false,
            loop: true,
            transitionSpeed: 1100,
            keyboardNavEnabled: true,
            autoPlay: {
              enabled: true,
              delay: 45000
            }
              });
          });
      </script>

      <script type="text/javascript">
        window.onload = function() {
          $("#maincontent").removeClass( "flash" ); }
      </script>
          <script src="/js/libs/jquery-1.8.3.min.js"></script>

    </body>
</html>
